@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Fraunces', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-part, .second-part {
    height: 400px;
    width: 300px;
}   

img {
    height: 400px;
    width: 300px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.second-part {
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.perfume-head {
    font-size: 1.2rem;
    margin: 25px;
}

.product-name {
    font-family: 'Fraunces';
    font-size: 1.7rem;
    font-weight: 700;
    margin: 25px;
}

.second-part > p {
    margin: 25px;
    font-family: 'Fraunces';
    font-size: 145x;
    color: gray; 
}

.new-price {
    color: green;
    font-family: 'Montserrat';
    font-weight: 3.9rem;
    margin: 25px;
    display: flex;
    gap: 35px;

}

span {
    font-size: 12px;
    font-weight: normal;
    color: gray;
    margin-top: 5px;
}

button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    width: 80%;
    margin-left: 25px;
    margin-bottom: 25px;
    
}



